body {                                                     
        background-color: whitesmoke;
}

header {
    background-color: whitesmoke;
}

p {                              /* felles selector for alle p */
    width: 650px;
}
    
 






/* For å skille mellom de ulike p, kan vi gi dem et ekstra navn: */
/* Vi refererer til en class i index.html ved å brukte .punktum */

.first-paragraph {
    background-color: chocolate;
}


.second-paragraph {
    background-color: darkkhaki;
    color:rgb(5, 24, 32);
    width: 600px;
    height: 200px; 
    padding: 20px;
    margin: 100px;
}


.third-paragraph {
    background-color: darkolivegreen;
    color:rgb(141, 198, 218);
    width: 300px;
    padding: 50px 20px 100px 40px;

}


#fourth-paragraph {
    background-color: hotpink;
    color: white;
    width: 400px;
    height: 400px;
    padding-top: 20px;
}

/* id står høyere enn class på hierarkiet, og overkjører derfor class */


.main-picture {
    width: 400px;
    margin: 0 auto 0 auto;
}

.image-1 {
    width: 100%;
}