body {                                                     
        background-color: rgb(141, 198, 218);
}

header {
    background-color: darkcyan;
}

p {                                         /* felles selector for alle p */
    background-color: bisque;
}




/* For å skille mellom de ulike p, kan vi gi dem et ekstra navn: */
/* Vi refererer til en class i index.html ved å brukte .punktum */

.first-paragraph {
    background-color: chocolate;
}


.second-paragraph {
    background-color: darkkhaki;
    color:rgb(5, 24, 32);
    width: 600px;
    height: 200px; 
}


.third-paragraph {
    background-color: darkolivegreen;
    color:rgb(141, 198, 218);
    width: 500px;
    height: 300px; 

}


#fourth-paragraph {
    background-color: hotpink;
    color: white;
    width: 400px;
    height: 400px;
}

/* id står høyere enn class på hierarkiet, og overkjører derfor class */